In [1]:
import pandas as pd
dataIn = pd.read_csv('data_full_anonym.csv')

In [2]:
total_individuals = dataIn['individual'].nunique()
total_individuals

33951

In [3]:
dataIn['rank'] = dataIn.groupby('individual')['totalPrice'].rank(method='first')
dataIn.head()

,individual,alternative,choice,officeID,depWeekDay,OD,fAirline,staySaturday,stayDurationMinutes,totalPrice,...,dtd,nAirlines,nFlights,isContinental,isDomestic,outDepTime_sin,outDepTime_cos,outArrTime_sin,outArrTime_cos,rank
0,91,19,1,1,2,22,36,1.0,18660.0,230.029999,...,23.0,1.0,4.0,1.0,0.0,0.737277,-0.675590,-0.854912,0.518773,1.0
1,91,20,0,1,2,22,36,1.0,18235.0,230.029999,...,23.0,1.0,4.0,1.0,0.0,0.737277,-0.675590,-0.854912,0.518773,2.0
2,91,21,0,1,2,22,30,1.0,17855.0,247.809998,...,24.0,1.0,4.0,1.0,0.0,-0.999762,-0.021815,-0.976296,0.216440,3.0
3,91,22,0,1,2,22,30,1.0,17855.0,247.809998,...,24.0,1.0,4.0,1.0,0.0,-0.999762,-0.021815,-0.402747,0.915311,4.0
4,91,23,0,1,2,22,30,1.0,280.0,247.809998,...,24.0,1.0,4.0,1.0,0.0,-0.999762,-0.021815,-0.976296,0.216440,5.0

## Top-1 Accuracy

In [5]:
top1_data = dataIn[(dataIn['choice'] == 1) & (dataIn['rank'] == 1)]
top1_data.head()

,individual,alternative,choice,officeID,depWeekDay,OD,fAirline,staySaturday,stayDurationMinutes,totalPrice,...,dtd,nAirlines,nFlights,isContinental,isDomestic,outDepTime_sin,outDepTime_cos,outArrTime_sin,outArrTime_cos,rank
0,91,19,1,1,2,22,36,1.0,18660.0,230.029999,...,23.0,1.0,4.0,1.0,0.0,0.737277,-0.675590,-0.854912,0.518773,1.0
295,975,20,1,4,3,73,7,1.0,4650.0,292.760010,...,145.0,1.0,2.0,0.0,1.0,-0.216440,-0.976296,-0.555570,0.831470,1.0
326,978,25,1,4,0,38,6,0.0,6465.0,234.820007,...,245.0,1.0,2.0,0.0,1.0,0.991445,-0.130526,-0.659346,0.751840,1.0
441,9131,39,1,4,2,2,6,1.0,7425.0,107.730003,...,176.0,1.0,2.0,0.0,0.0,0.480989,-0.876727,-0.887011,-0.461749,1.0
612,9157,33,1,4,0,5,7,0.0,645.0,282.089996,...,24.0,1.0,2.0,0.0,1.0,0.980785,-0.195090,-0.876727,0.480989,1.0

In [6]:
top1_count = len(top1_data)
top1_count

5554

In [7]:
print("Top-1 accuracy: ", (top1_count/total_individuals))

Top-1 accuracy:  0.16358870136373008

## Top-5 Accuracy

In [9]:
top5_data = dataIn[(dataIn['choice'] == 1) & (dataIn['rank'] <= 5)]
top5_data

,individual,alternative,choice,officeID,depWeekDay,OD,fAirline,staySaturday,stayDurationMinutes,totalPrice,...,dtd,nAirlines,nFlights,isContinental,isDomestic,outDepTime_sin,outDepTime_cos,outArrTime_sin,outArrTime_cos,rank
0,91,19,1,1,2,22,36,1.0,18660.0,230.029999,...,23.0,1.0,4.0,1.0,0.0,0.737277,-0.675590,-0.854912,0.518773,1.0
57,99,2,1,4,1,48,6,0.0,755.0,137.570007,...,70.0,1.0,2.0,0.0,0.0,0.996195,-0.087156,-0.625923,0.779884,2.0
86,924,10,1,4,0,59,6,0.0,1880.0,446.709991,...,5.0,1.0,2.0,0.0,0.0,0.806445,-0.591310,-0.997859,0.065403,2.0
126,928,27,1,4,0,59,6,0.0,485.0,301.709991,...,5.0,1.0,2.0,0.0,0.0,0.642788,-0.766044,-0.876727,0.480989,5.0
270,970,26,1,4,2,22,54,1.0,14880.0,191.380005,...,4.0,1.0,2.0,1.0,0.0,0.896873,-0.442289,-0.518773,0.854912,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1089417,982194,19,1,4,1,53,6,0.0,540.0,227.250000,...,4.0,1.0,2.0,0.0,0.0,0.442289,-0.896873,-0.518773,0.854912,2.0
1089499,9615530,1,1,9,0,0,34,0.0,435.0,693.770020,...,2.0,1.0,2.0,0.0,0.0,0.984808,-0.173648,-0.915311,-0.402747,1.0
1089519,982209,1,1,4,5,78,34,0.0,505.0,155.039993,...,8.0,1.0,2.0,0.0,0.0,0.939693,-0.342020,-0.999048,0.043619,1.0
1089706,982285,33,1,4,5,78,34,0.0,10510.0,160.039993,...,24.0,1.0,2.0,0.0,0.0,0.779884,-0.625923,-0.999048,0.043619,1.0
1089776,982308,21,1,4,2,62,6,1.0,6300.0,157.360001,...,69.0,1.0,2.0,0.0,0.0,0.422618,-0.906308,-0.573576,0.819152,4.0

In [10]:
top5_count = top5_data['individual'].nunique()
top5_count

15799

In [11]:
print("Top-5 accuracy: ", (top5_count/total_individuals))

Top-5 accuracy:  0.4653471179052163